@model IEnumerable<WishList.Models.ProductLink>

@{
    ViewBag.Title = "LinksTable";
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Store)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price) (in $)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Store)
            </td>
            <td>
                <a href="@item.URL" target="_blank">@item.URL</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Links", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Links", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Links", new { id = item.Id }, null)
        </tr>
    }

</table>
